:root {
  /* colors */
  --color-primary: #0d0d0d;
  --bs-btn-active-border-color: #fff;
  /* fonts */
  --ff-primary: 'Roboto', sans-serif;

}

body {
  font-family: var(--ff-primary);
  color: white;
  background: var(--color-primary);
}

i {
  cursor: pointer;
}

.side-navbar {
  left: -258px;
  z-index: 999;
}

.side-navbar .left-side {
  width: 258px;
  background: var(--color-primary);
}

.side-navbar .right-side img {
  width: 50px;
}

.right-side .btn:hover {
  color: #000;
}

.links li {
  position: relative;
  top: 210px;
  /* z-index: 99999; */

}

.links li a {
  color: white;
  cursor: pointer;
}

.layer {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;

  top: 100%;
  z-index: 3;
  transition: top 500ms;
}

.meal-box {
  cursor: pointer;
}

.meal-box:hover .layer {
  top: 0;
}

#sreachForm input::placeholder {
  color: rgba(255, 255, 255, 0.446) !important;
}

#sreachForm input {
  color: white !important;
}

.icon-home {
  font-size: 64px;
}


#categories,
#mealInstructions,
#search,
#area,
#instructions,
.outer-spinner {
  display: none;
}

.err-pag {
  color: red;
  text-align: center;
  font-weight: bold;
}

.outer-spinner {
  position: fixed;
  background-color: tomato;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 990;
}

.inner-spinner {
  position: absolute;
  background-color: tomato;
  min-height: 100vh;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 99;
}

.loader {
  color: #ffffff;
  font-size: 55px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;

  border-radius: 50%;
  position: absolute;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}