/* global style =================== */
:root {
  /* colors */
  --color-primary: #0d0d0d;
  --bs-btn-active-border-color: #fff;
  /* fonts */
  --ff-primary: 'Roboto', sans-serif;
}

body {
  font-family: var(--ff-primary);
  color: white;
  background: var(--color-primary);
}

i {
  cursor: pointer;
}

/* navbar =================== */
.side-navbar {
  left: -258px;
  z-index: 999;
}

.side-navbar .left-side {
  width: 258px;
  background: var(--color-primary);
}

.side-navbar .right-side img {
  width: 50px;
}

.right-side .btn:hover {
  color: #000;
}

.links li {
  position: relative;
  top: 210px;
  /* z-index: 99999; */
  cursor: pointer;

}

/* meal =================== */
.layer {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;

  top: 100%;
  z-index: 3;
  transition: top 500ms;
}

.meal-box,
.area {
  cursor: pointer;
}

.meal-box:hover .layer {
  top: 0;
}

/* search =================== */
#sreachForm input::placeholder {
  color: rgba(255, 255, 255, 0.446) !important;
}

#sreachForm input {
  color: white !important;
}

/* area =================== */
.icon-home {
  font-size: 64px;
}

/* error api p =================== */
.err-pag {
  color: red;
  text-align: center;
  font-weight: bold;
}

/* spinners =================== */
.outer-spinner i,
.inner-spinner i {
  font-size: 80px;
}

.outer-spinner {
  position: fixed;
  background-color: var(--color-primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 99999;
}

.inner-spinner i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-spinner {
  position: absolute;
  background-color: var(--color-primary);
  min-height: 100vh;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}


#categories,
#mealInstructions,
#search,
#area,
#instructions,

.inner-spinner,
#contact {
  display: none;
}